<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          Copyright © <a href="http://www.ericgonzalez1994.com" target="blank">Eric Gonzalez</a>, All Rights Reserved
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="footer-links">
          <a href="https://github.com/Twinpair/Samurai-Jack-Voting-Game" target="blank"><i class=" fa fa-github"></i> Source Code</a>
        </div>
      </div>
    </div>
  </div>
</div>