<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="title"><%= title %></h1>
            <p class="text-center resutls-filter">(<%= total_cards %> Total Cards | <%= total_votes %> Total Votes)</p>